*{
    margin: 0px;
    padding: 0px;
}
body, html{
    width: 100%;
    height: 100%;

}
.inicio{
    height: 30vh;
    background-image: url(photo_40005_20150814.jpg);
}
.meio{

    position: sticky;
    top: 0px;
    height: 60vh;
    background-color: aquamarine;
}
.fim{
    height: 80vh;
    background-color: #113355;
    z-index: 2;
}