*{
    margin: 0px;
    padding: 0px;
}
body, html{
    width: 100%;
    height: 100%;
    background-image: url(photo_40005_20150814.jpg);
}
.inicio{
    height: 100vh;
    background-color: #eedd11;
}
.meio{
    height: 60vh;
}
.fim{
    height: 80vh;
    background-color: #113355;
    z-index: 2;
}